.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15vw;
  width: 85vw;
  color: #7fdbca;
  background-color: #021627;
  font-family: "Raleway", sans-serif;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image {
  background-image: url("../docs/mac-profile-image.png");
  background-size: cover;
  margin-right: 20px;
  height: 200px;
  width: 200px;
}

.profile-image:hover {
  background-image: url("../docs/hello-profile-image.png");
}

.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  border: solid;
  border-radius: 10px;
}

#first-name {
  color: #db7f90;
}

#profile-text {
  display: flex;
  align-items: center;
}

#profile-icon {
  margin-left: 10px;
}

.arrow {
  margin-top: 25%;
  margin-bottom: -25%;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.profile-stack {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.stack-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

h1#stack-title {
  margin-left: 10px;
}

span#stack-title {
  color: #db7f90;
}

#stack-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 110px;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: #e5e5e5;
  border-radius: 10px;
  border-width: 2px;
  font-size: small;
}

#stack-icon:hover {
  color: #db7f90;
  border-color: #db7f90;
}

#stack-name {
  margin: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .main-container {
    margin-top: 10vh;
    margin-left: 0;
    width: 100vw;
  }

  .intro-container {
    height: 90vh;
  }

  .main-title {
    flex-direction: column;
  }

  .profile-image {
    margin-right: 0;
  }

  .profile-description {
    margin: 10px;
    font-size: 70%;
  }

  #profile-sns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #sns-icons {
    margin-left: 10px;
  }

  .profile-stack {
    overflow-y: auto;
  }

  .stack-title {
    margin-top: 10vh;
    padding: 20px;
  }

  .stack-cards {
    display: flex;
    flex-direction: row;
  }

  #stack-icon {
    height: 70px;
    width: 90px;
    font-size: x-small;
  }
}
