.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 15vw;
  border-right: solid;
  border-width: 1px;
  color: #7fdbca;
  background-color: #021627;
  font-family: "Raleway", sans-serif;
}

.navbar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a#section-links {
  display: flex;
  align-items: center;
  position: relative;
  width: 100px;
  padding: 10px;
  color: #7fdbca;
  text-decoration: none;
  text-align: center;
}

a#section-links:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #db7f90;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a#section-links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p#section-text {
  margin-left: 10px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-title {
  margin: 10px;
  font-family: "Pacifico", cursive;
  font-size: 80%;
  color: darkgray;
}

a#icon-links {
  padding: 10px;
  color: #7fdbca;
}

a#icon-links:hover {
  color: #db7f90;
}
